<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "作者について",		about_path %></li>
			<li><a href="https://twitter.com/ALBNo273" target="_blank">ご連絡はこちらまで</a></li>
    </ul>
  </nav>
</footer>