<header class="navbar navbar-fixed-top navbar-inverse navbar-custom">
  <div class="container">
    <%= link_to "Cygnus", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホームに戻る",							 root_path %></li>
        <li><%= link_to "作ったもの一覧", 					 toys_path %></li>
      </ul>
    </nav>
  </div>
</header>