<header class="navbar navbar-fixed-top navbar-inverse navbar-custom">
  <div class="container">
    <%= link_to "V.A.Eleven", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホームに戻る",							 root_path %></li>
        <li><%= link_to "これなに？", 							 help_path %></li>
        <li><%= link_to "Twitterでログインしてみる", "#" %></li>
      </ul>
    </nav>
  </div>
</header>